In [2]:
import pandas as pd
import numpy as np

from math import *
from decimal import Decimal
from sklearn.cluster import KMeans


from sklearn.cluster import OPTICS, cluster_optics_dbscan
import matplotlib.gridspec as gridspec
import matplotlib.pyplot as plt
import geopandas as gpd 
from shapely.geometry import LineString,Point
from itertools import combinations 
from collections import defaultdict

from shapely.geometry import Point


import osmnx as ox
import networkx as nx
import matplotlib.cm as cm
import matplotlib.colors as colors
from matplotlib.lines import Line2D
import requests as rq

In [2]:
ac=pd.read_csv("US_Accidents_Dec20_updated.csv")

In [28]:
ac.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [29]:
loc=ac[["Start_Lat","Start_Lng","City"]]
loc.dtypes
loc

        Start_Lat  Start_Lng         City
0        40.10891  -83.09286       Dublin
1        39.86542   -84.0628       Dayton
2        39.10266  -84.52468   Cincinnati
3        39.10148  -84.52341   Cincinnati
4        41.06213  -81.53784        Akron
...           ...        ...          ...
1516059  34.00248 -117.37936    Riverside
1516060  32.76696 -117.14806    San Diego
1516061  33.77545 -117.84779       Orange
1516062  33.99246 -118.40302  Culver City
1516063  34.13393 -117.23092     Highland

[1516064 rows x 3 columns]

In [30]:
loc_1= loc[loc["City"]=="Los Angeles"]
loc_1

        Start_Lat    Start_Lng         City
5360     34.09256   -118.20622  Los Angeles
5364     33.94819   -118.27973  Los Angeles
5379      34.0233   -118.17288  Los Angeles
5397      34.1447   -118.27865  Los Angeles
5399     34.09914  -118.251853  Los Angeles
...           ...          ...          ...
1515619  34.03693   -118.43877  Los Angeles
1516027  34.07579   -118.27668  Los Angeles
1516031  34.02379   -118.27639  Los Angeles
1516034  34.07061   -118.26391  Los Angeles
1516046  34.04365   -118.44373  Los Angeles

[39984 rows x 3 columns]

In [31]:
loc_1= loc_1.reset_index()
loc_1

         index Start_Lat    Start_Lng         City
0         5360  34.09256   -118.20622  Los Angeles
1         5364  33.94819   -118.27973  Los Angeles
2         5379   34.0233   -118.17288  Los Angeles
3         5397   34.1447   -118.27865  Los Angeles
4         5399  34.09914  -118.251853  Los Angeles
...        ...       ...          ...          ...
39979  1515619  34.03693   -118.43877  Los Angeles
39980  1516027  34.07579   -118.27668  Los Angeles
39981  1516031  34.02379   -118.27639  Los Angeles
39982  1516034  34.07061   -118.26391  Los Angeles
39983  1516046  34.04365   -118.44373  Los Angeles

[39984 rows x 4 columns]

In [32]:
type(loc_1)

pandas.core.frame.DataFrame

In [33]:
bas_son=pd.DataFrame({'baslangic':loc_1['Start_Lat'],
                       'son':loc_1["Start_Lng"]

})
bas_son.dtypes

don_a=bas_son["baslangic"].to_numpy()
don_b=bas_son["baslangic"].to_numpy()
don_c=bas_son.to_numpy()

In [34]:
bas_son

      baslangic          son
0      34.09256   -118.20622
1      33.94819   -118.27973
2       34.0233   -118.17288
3       34.1447   -118.27865
4      34.09914  -118.251853
...         ...          ...
39979  34.03693   -118.43877
39980  34.07579   -118.27668
39981  34.02379   -118.27639
39982  34.07061   -118.26391
39983  34.04365   -118.44373

[39984 rows x 2 columns]

In [35]:
print(don_a.shape)
print(don_b.shape)
print(don_c.shape)

(39984,)
(39984,)
(39984, 2)

In [47]:
%matplotlib inline
place_name=("Los Angeles, California")
graph = ox.graph_from_place(place_name, network_type='drive')
fig, ax = ox.plot_graph(graph)
area=ox.gdf_from_place(place_name)
area.plot()

TypeError: argument of type 'CRS' is not iterable

In [ ]:

df = gpd.read_file('')

def findcrossings(line1, line2):
    crossings = []
    if line1.crosses(line2):
        crossings.append(line1.intersection(line2))
    return crossings

results = defaultdict(list)
indices = df.index.to_list()
for i in indices: 
    line = df.geometry.iloc[i] 
    verts = [v for v in line.coords] 
    segments = []
    for p1, p2 in zip(verts, verts[1:]): 
        segment = LineString([p1, p2]) 
        segments.append(segment)
    for l1, l2 in combinations(segments,2): 
        res = findcrossings(l1, l2) 
        if len(res)>0:
            results[i].extend(res)

In [ ]:
points=[]
for i in gdf.id:
    print(i)
    # check overlap
    feature = gdf[gdf['id']==i]['geometry'][i]
    overlap_feature = gdf[gdf['id']!=i]['geometry'].unary_union
    intersects = feature.intersection(overlap_feature)
    points.append(intersects)
points

In [ ]:
intersections = gpd.GeoDataFrame(
    {"id": [n for n,i in enumerate(points)]},
    crs={'init':'epsg:4326'},
    geometry=points
)

In [ ]:

fig,ax = plt.subplots()
intersections.plot(color="r", ax=ax,zorder=2)
gdf.plot(ax=ax,zorder=1)

In [ ]:
intersections['ispoint'] = intersections['geometry'].apply(lambda x: isinstance(x, Point)) 
is_point = intersections[intersections.ispoint] 
was_multipoint = intersections[~intersections.ispoint].explode().reset_index() 


now_point = is_point.append(was_multipoint)
now_point.reset_index(inplace=True)
now_point = now_point[['id','geometry']]
now_point['id'] = now_point.index



intersections2 = now_point.copy()
points=[]
n= 0
for i in intersections2.id:
    
    feature = intersections2[intersections2['id']==i]['geometry'][i]
    overlap_feature = intersections2[intersections2['id']!=i]['geometry'].unary_union

    
    if feature.intersects(overlap_feature):
        intersections2.drop(i, inplace=True)
    print(n, feature.intersects(overlap_feature))
    n+=1
intersections2

In [17]:

import osmnx as pp
print(pp.__version__)

0.11

In [22]:
from IPython.core.display import HTML
HTML("<script>Jupyter.notebook.kernel.restart()</script>")

In [42]:
print(f"The NetworkX package is version {nx.__version__}")
print(f"The OSMNX package is version {ox.__version__}")
print(f"The Request package is version {requests.__version__}")
print(f"The PIL package is version {pillow.__version__}")

The NetworkX package is version 2.6.3
The OSMNX package is version 0.11
The Request package is version 2.27.1

NameError: name 'pillow' is not defined

In [ ]:

cluster=OPTICS(min_samples=1000,
algorithm="ball_tree",metric="haversine",max_eps=inf,p=2, metric_params=None,cluster_method='dbscan').fit()
cluster.labels_